{
  "extends": ["@k.sh/eslint-config"],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/forbid-prop-types": [0],
    "react/no-unused-prop-types": [0]
  }
}
